name: Build app

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: windows-latest

        strategy:
            matrix:
                dotnet_version: [3.1.101]

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Install .NET Core
              uses: actions/setup-dotnet@v1
              with:
                  dotnet-version: ${{ matrix.dotnet_version }}

            - name: Build app
              run: |
                dotnet publish -r win-x64 -o publish
              working-directory: ./src

            - name: Upload build artifacts
              uses: actions/upload-artifact@v1
              with:
                  name: Yatsugi for Windows
                  path: ./src/publish
